body {
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    background: #f614b1;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    opacity: 0.08; /* makes it very light */
    z-index: -1;
}

header {
    background:#f614b1;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

img {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.product-table th {
    background-color: #f614b1;
    color: white;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tr:hover {
    background-color: #f1d1d6;
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.product-table img {
    width: 100px;
    border-radius: 10px;
}

.product-table button {
    background-color: #f614b1;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.product-table button:hover {
    background-color: #a05560;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

